<div class="row">
  <div class="col-md-12">
    <h2 class="pb-2"><b>Quinielas</b></h2>
    <div class="card">
      <div class="card-body">
        <h3>Temporada 2019 - Semana 1</h3>
        <table class="table">
          <thead>
            <th>Participante</th>
            <th>Puntuación</th>
            <th></th>
          </thead>
          <tbody>
            <% @pools.where(week: 1).each do |pool| %>
            <tr>
              <td><%= pool.user.name %></td>
              <td><%= pool.total_points %></td>
              <td><%= link_to "Ver", pool %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
