<div class="row">
  <div class="col-md-12">
    <h2 class="pb-2"><b>Contendientes</b></h2>
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Contendiente</th>
              <th>Puntos totales</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.pools.sum(:total_points).to_s %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
